@font-face {
    font-family: Jost Medium;
    src: url("../assets/Jost-Medium.ttf");
}

@font-face {
    font-family: Jost Regular;
    src: url("../assets/Jost-Regular.ttf");
}

body:not(.userFollow){
    background-color: #594C40 !important;
    color: #ECE4D3 !important;
    margin: 8px !important;
    font-family: Jost Regular;
}

p:not(#removeUserP, .userFollow), .dropbtn{
    color: #ECE4D3 !important; 
}

#removeUserP{
    color: #594C40;
}

#pfp{
    border-radius: 50%;
    width: 10em;
}

#saveNewAvatar, #saveNewPassword, #saveNewEmail, #saveNewUser{
    background-color: #594C40;
    color: #ECE4D3;
    margin-top: 10px;
}

#saveNewAvatar:hover, #saveNewPassword:hover, #saveNewEmail:hover, #saveNewUser:hover, #btnEdit:hover, #btnFavs:hover, #btnManage:hover, #btnLogout:hover, #btnAddOutfit:hover{
    background-color: #ABBD8F;
}

input[type="text"], input[type="password"]{
    border: 0;
    border-bottom: 2px solid #594C40;
    border-radius: 2px;
    background-color: #ECE4D3;
    padding: 8px 1px;
    margin: 8px 0;
    color: #ABBD8F;
}

input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: #594C40;
}
    
input[type="text"]:focus, input[type="password"]:focus{
    border-bottom: 2px solid #ABBD8F;
    color: #594C40;
    outline: none;
}

.modal-body:not(#removeUserPModal){
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#removeUserPModal, #addClothForm{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.header{
    text-align: right;
    margin: 10px;
}

button{
    border: 0;
    border-radius: 4px !important;
    background-color: #ECE4D3;
    color: #594C40;
    font-family: Jost Regular !important;
}

#profile{
    display: grid;
    grid-template-rows: 4fr 2fr;
    justify-content: center;
    text-align: center;
}

#profileOtherUser{
    text-align: center;
}

#btnEdit, #btnLogout, #btnFavs, #btnManage, .edit, .block, .unblock, .remove, #btnAddOutfit{
    width: 6em;
    height: 2em;
}

#btnFavs{
    display: none;
}

h1{
    font-family: Jost Medium;
}

h2{
    font-family: Jost Regular;
}

#editProfile, #manageUsers{
    display: none;
}

#favorites{
    display: block;
}

.cloth{
    width: 10em !important;
    border-radius: 4px !important;
}

#gridFavorites{
    padding: 0;
}

#rowFavorites{
    row-gap: 1em;
    --bs-gutter-x: 0;
    column-gap: 1em;
}

input[type="radio"]{
    display: none;
}

input[type=radio] + label {
    background-size: cover;
    height: 120px;
    width: 120px;
    display: inline-block;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

input[type=radio]:checked + label {
    border-color: #ABBD8F;
}

#editAvatar, #editPassword{
    display: grid;
    grid-template-columns: 16em 2em;
    align-items: center;
}

#editEmail, #editUser{
    display: grid;
    grid-template-columns: 6em 10em 2em;
    align-items: center;
}

.modal-content{
    background-color: #ECE4D3 !important;
}

.close{
    color: #594C40;
}

.editIcon{
    color: #ECE4D3;
}

.close:hover, .editIcon:hover{
    color: #ABBD8F;
}

#usersTable tr, #usersTable th, .borderTable{
    border: 1px solid #594C40;
    text-align: center;
    border-radius: 10px;
}

#usersTable{
    background-color: #ECE4D3;
    border-radius: 10px;
    color: #594C40;
}

.dropdown-content {
    background-color: #594C40 !important;
}

.dropdown-content a {
    color: #ECE4D3 !important;
}

.dropdown-content a:hover {
    background-color: #ECE4D3 !important;
    color: #594C40 !important;
}

form input[type="submit"], .cancel{
    background-color: #594C40;
    color: #ECE4D3;
    margin-top: 10px;
    border: 0;
    border-radius: 4px !important;
    font-family: Jost Regular !important;
}

form input[type="submit"]:hover{
    background-color: #ABBD8F;
}

select{
    border: 0;
    border-radius: 2px;
    background-color: #ECE4D3;
    padding: 8px 1px;
    margin: 8px 0;
    color: #ABBD8F;
}
    
select:focus{
    outline: none;
}

table{
    width: 40em;
}

i:not(.close){
    color: #ECE4D3 !important;
}

.following{
    border-radius: 10px;
	border: 1px solid transparent;
	background-color: #ECE4D3;
	color: #594C40;
	font-size: 20px;
	width: 8em !important;
    height: 2em;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

#followingFollowers{
    text-align: center;
    font-size: 20px;
    margin-top: 1em;
}

.followingFollowers{
    color: #ECE4D3 !important;
}

#followers{
    margin-left: 1em;
}

#tableFollowingModal, #tableFollowersModal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 1em;
}

.avatar{
    width: 6em;
    border-radius: 50%;
}

.userFollow, #tableFollowing p, #tableFollowers p{
    color: #594C40 !important;
    font-size: 20px;
}

hr{
    color: #594C40 !important;
    height: 0.1em !important;
    border-radius: 50%;
}

.userFollow{
    text-transform: uppercase;
}

.followingTable{
    border-radius: 10px;
	border: 1px solid transparent;
	background-color: #594C40;
	color: #ECE4D3;
	font-size: 20px;
	width: 6em !important;
    height: 2em;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

@media (max-width: 575px) {
    #rowFavorites{
        justify-content: center;
    }
}