body{
   background-color: #242D3E !important; 
   color: #ECE4D3;
   margin: 8px !important;
}

p, .dropbtn{
   color: #ECE4D3; 
}

#outfitColar{
    width: 4em;
    height: 4em;
}

#bodyContainer{
    font-family: Jost Regular;
    justify-content: center;
}

#containerOutfit{
    text-align: center;
}

#containerOutfit p{
    margin: 0;
}

i{
    color: #ABBD8F;
}

img{
    border-radius: 4px;
}

#containerOutfits img{
    width: 10em;
    height: 10em;
}

#outfitImg{
    width: 32em;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
}

.modal img {
    margin: 20px auto;
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#imageModal{
    align-items: center;
}

.dropdown-content {
    background-color: #242D3E;
}

.dropdown-content a {
    color: #ECE4D3 !important;
}

.dropdown-content a:hover {
    background-color: #ABBD8F;
    color: #242D3E !important;
}

@media (min-width: 576px) {
    #containerOutfits{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 575px) {
    #containerOutfits{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) {
    #containerOutfits{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}