@font-face {
    font-family: Anton Regular;
    src: url("../assets/Anton-Regular.ttf");
}

@font-face {
    font-family: Jost Medium;
    src: url("../assets/Jost-Medium.ttf");
}

@font-face {
    font-family: Jost Regular;
    src: url("../assets/Jost-Regular.ttf");
}

body{
    background-color: #ECE4D3;
    color: #242D3E;
}

p, .dropbtn{
    color: #242D3E; 
 }

header #mainTitle{
    font-family: Jost Medium;
    font-size: 22px;
}

header p:not(#mainTitle){
    font-family: Jost Regular;
}

header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 12em 1fr 12em;
    align-items: center;
    text-align: center;
}

#firstOptions{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#containerTitle{
    display: grid;
    grid-template-rows: 0.1em 8em 1fr;
    z-index: 1;
}

#title1, #title2{
    font-family: Anton Regular;
    color: #242D3E;
}

p:not(#title1, #title2, #title3){
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

a{
    text-decoration: none !important;
    color: #000;
}

#title1{
    font-size: 64px;
}

#title2{
    font-size: 128px;
}

#bodyWebsite{
    display: grid;
    grid-template-columns: 10em 28em 16em;
    grid-template-rows: 30em;
    justify-content: center;
}

#img1 {
    width: 60%;
    z-index: -2;
}

#background{
    text-align: center;
}

#containerDescription{
    text-align: end;
    display: flex;
    align-items: end;
}

#containerDescription p{
    font-family: Jost Regular;
    font-size: 14px;
    color: #594C40;
}

.dropbtn {
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 16px;
    border: none;
    font-family: Jost Regular;
    background-color: transparent;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    align-content: center;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ECE4D3;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Jost Regular;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #D9D2BF;
    font-weight: bold;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

header p:hover, header a:hover{
    cursor: pointer;
}