@font-face {
    font-family: Anton Regular;
    src: url("../assets/Anton-Regular.ttf");
}

@font-face {
    font-family: Jost Medium;
    src: url("../assets/Jost-Medium.ttf");
}

@font-face {
    font-family: Jost Regular;
    src: url("../assets/Jost-Regular.ttf");
}

body{
    background-color: #D9D2BF !important;
    margin: 8px !important;
}

#containerBody{
    display: flex;
    justify-content: center;
}

.page{
    row-gap: 1em;
    width: 60em;
    text-align: center;
}

#pageNumbers{
    display: flex;
    justify-content: center;
    font-family: Jost Regular;
    font-size: 16px;
}

#pageNumbers a{
    text-decoration: none;
    color: #ABBD8F;
}

#pageNumbers a:focus{
    color: #242D3E;
}

img{
    width: 10em;
    height: 10em;
    border-radius: 4px;
}

#grid div{
    width: 10em;
}

.dropdown-content {
    background-color: #D9D2BF;
}

.dropdown-content a:hover {
    background-color: #ECE4D3;
}