#outfitColar{
    width: 4em;
    height: 4em;
}

#containerBody{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: Jost Regular;
    justify-content: center;
}

#containerOutfit{
    text-align: center;
}

#containerOutfit p{
    margin: 0;
}

#containerOutfits{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    justify-content: center;
}

#containerOutfits img{
    width: 10em;
    height: 10em;
}

#outfitImg{
    width: 40em;
}

.container{
    display: flex;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
}

.modal img {
    margin: 20px auto;
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#imageModal{
    align-items: center;
}